* {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

#principal {
    width: 970px;
    height: auto;
    background-image: linear-gradient(180deg, #105694, #3773a7);
}

.nn2 {
    color: #ffffff;
    font-size: 30px;
    margin: 12px;
    text-decoration: none;
    text-align: center;
}

.nn {
    text-decoration: none;
    text-align: center;
    list-style-type: none;
    display: inline;
    padding: 14px 16px;
}

#barra {
    box-shadow: 3px 2px;
    margin: 0px 60px;
    background-color: #3776ab;
    width: 830px;
    height: 40px;
}

#boton-bus {
    box-shadow: 0px 0px 1px 1px;
    width: 50px;
    height: 36px;
    background-color: #1c3454;
    border-radius: 5px;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 12px 0px 0px 3px;
    cursor: pointer;
}

#busc {
    box-shadow: 0px 0px 2px 2px;
    width: 162px;
    padding-left: 42px;
    height: 37px;
    margin: 7px 3px 0px 45px;
}

#buscador {
    box-shadow: 3px 3px;
    border-radius: 5px;
    margin: -106px 0px 0px 620px;
    background-color: #414344;
    width: 320px;
    height: 70px;
}

img {
    margin: 15px;
    width: 400px;
    height: auto;
}

u {
    margin: 30px 0px 1px 3px;
    color: #d4b200
}

.line {
    margin: 30px 5px 30px 0px;
    background-color: #ffffff;
    width: 970px;
    height: 230px;
    display: inline-block;
    vertical-align: top;
    padding-top: 7px;
}

#margen-esqu {
    color: #fcfdfd;
    padding-top: 30px;
    vertical-align: text-top;
    display: inline-block;
    margin: -152px 0px 50px 685px;
    font-size: 20px;
}

.bloque-text {
    display: inline-block;
    vertical-align: top;
}

#cero {
    display: inline-block;
    vertical-align: top;
    margin: 20px 0px 10px 50px;
    list-style-type: none;
    font-size: 20px;
}

.sin-orden {
    color: #ffffff;
}

#tres {
    margin-top: 8px;
}

#uno {
    margin-bottom: 5px;
    margin-left: 30px;
}

#cuatro {
    margin-bottom: 5px;
    margin-left: 30px;
}

#seis {
    margin-top: 5px;
    margin-left: 30px;
}

#tam-texto {
    color: aliceblue;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin: 17px 10px;
    width: 716px;
    height: 84px;
}

#poema {
    margin-top: -100px;
    text-align: center;
    display: inline-block;
    vertical-align: text-top;
    width: 371px;
    color: #d4b200;
    margin-left: 350px;
    font-size: 25px;
}

#peque {
    color: aliceblue;
    font-size: 20px;
}

#started {
    margin-left: 60px;
    text-align: center;
    width: 298px;
    height: auto;
    display: inline-block;
}

#applications {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    width: 283px;
    height: auto;
    margin-left: 190px;
}

#margen-min {
    display: inline-block;
    margin-left: 90px;
}

#unico {
    margin-left: 65px;
}

#margen-titulo3 {
    display: inline-block;
    vertical-align: top;
    margin-left: 120px;
    margin-bottom: 5px;
}

#margen-titulo2 {
    display: inline-block;
    margin-left: 390px;
}

#unico2 {
    display: inline-block;
    margin-top: 5px;
    margin-left: 255px;
}

#colorcito {
    color: #377fbe;
}

#dist1 {
    color: #377fbe;
    padding-left: 20px;
}

#dist2 {
    color: #377fbe;
    padding-left: 50px;
}

#dist3 {
    color: #377fbe;
    padding-left: 60px;
}

#dist4 {
    color: #377fbe;
    padding-left: 40px;
}

#dis1 {
    color: #377fbe;
    padding-left: 12px;
}

#dis3 {
    color: #377fbe;
    padding-left: 15px;
}

#dis9 {
    color: #377fbe;
}

#dist5 {
    color: #377fbe;
}

footer {
    height: 10px;
    text-align: center;
    padding: 3px;
    color: rgb(177, 176, 176);
}

.bloque-text {
    margin: 20px 30px 30px 70px;
    color: rgb(177, 176, 176);
    font-size: 20px;
    text-align: center;
}

hr {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    height: 5px;
    border-width: 0;
    color: #377fbe;
    background-color: #377fbe;
    margin-left: 35px;
}