/*CSS reset settings here*/

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#wrapper {
    padding: 17px;
    width: 950px;
    background-color: silver;
    margin: 0px auto;
}

#header {
    margin-bottom: 15px;
    min-height: 150px;
    background-color: green;
}

#navigation {
    margin-right: 20px;
    display: inline-block;
    min-height: 300px;
    width: 200px;
    background-color: blue;
}

#main_content {
    padding: 15px;
    vertical-align: top;
    display: inline-block;
    min-height: 400px;
    width: 695px;
    background-color: red;
}

.subcontents {
    margin-right: 12px;
    display: inline-block;
    min-height: 200px;
    width: 210px;
    background-color: yellow;
}

#advertisement {
    margin-top: 20px;
    min-height: 120px;
    width: 660px;
    background-color: purple;
}

@media only screen and (max-width: 480px) {
    /*para celulares*/
    #wrapper {
        width: 100%;
    }
    #header {
        width: 95%;
    }
    #navigation {
        display: none;
    }
    #main_content {
        width: 88%;
    }
    .subcontents {
        width: 100%;
        margin-top: 5px;
    }
    #advertisement {
        width: 100%;
    }
}

@media only screen and (max-width: 1023px) and (min-width: 481px) {
    /*para tablet*/
    #wrapper {
        width: 93%;
    }
    #header {
        width: 90%;
    }
    #navigation {
        display: none;
    }
    #main_content {
        width: 86%;
    }
    .subcontents {
        width: 46%;
        margin-bottom: 5px;
    }
    #advertisement {
        width: 98%;
    }
}